.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    font-size: large;
    color: #ffffff;
    text-shadow: 1px 2px 3px black;
}

.link.active {
    color: #e84a5f;
}